{
  "Index": {
    "Background": "Build"
  },
  "Completion": {
    "AllScopes": true
  },
  "InlayHints": {
    "BlockEnd": "Yes",
    "Designators": "Yes",
    "Enabled": "Yes",
    "ParameterNames": "Yes",
    "DeducedTypes": "Yes",
    "TypeNameLimit": 0
  },
  "Hover": {
    "ShowAKA": "Yes"
  },
  "Diagnostics": {
    "MissingIncludes": "Strict",
    "ClangTidy": {
      "FastCheckFilter": "None",
      "Add": [
        "clang-diagnostic-*",
        "clang-analyzer-*",
        "llvm-*",
        "performance-*",
        "readability-*",
        "cert-*",
        "bugprone-*",
        "portability-*",
        "misc-*",
        "concurrency-*",
        "google*"
      ],
      "Remove": [
        "readability-magic-numbers",
        "misc-no-recursion",
        "bugprone-easily-swappable-parameters",
        "concurrency-mt-unsafe",
        "cert-flp30-c"
      ]
    }
  }
}